<!doctype html>
<html lang="en" ng-app="TicketsManagement">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular TODO app</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    </head>
<body ng-controller="mainController" ng-init="ticketId()">
    
    <div class="container">

        <!--Cabecera-->
        <!--Lista de Todos-->


        <div class="navbar navbar-default navbar-static-top"
             role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <span class="glyphicon glyphicon-headset"></span>
                    Tickets&nbsp;<strong>Management</strong>
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li data-match-route="/$"><a href="/">Tickets&nbsp;<span class="label label-info">{{ tickets.length }}</span></a></li>
                <li data-match-route="/NewTicket"><a href="/NewTicket">Add</a></li>
            </ul>

        </div>

        <!--Formulario para insertar nuevos Todo-->
        <div id="ticket-form" class="row">
            <div class="col-md-12">
                <div>
                    <form id="formdata">
                        
                            <input type="text" ng-model="formData._id" hidden />
                            <h3>{{ formData.username }} <small> {{ formData.datetime | date:'dd-MM-yyyy HH:mm' }} </small></h3>
                        <div class="form-group">
                            <div text-angular ng-model="formData.description" required></div>
                        </div>
                        <div class="form-group">
                            <label>Priority</label>
                            <select id="levelpicker" ng-model="formData.level" class="selectpicker">
                                <option value="">Select ticket priority</option>
                                <option value="High">High</option>
                                <option value="Medium">Medium</option>
                                <option value="Low">Low</option>

                            </select>

                            <label>Status</label>
                            <select id="statuspicker" ng-model="formData.status" class="selectpicker">
                                <option value="open">Open</option>
                                <option value="closed">Closed</option>
                                <option value="running">Running</option>
                                <option value="archived">Archived</option>

                            </select>
                            <div ng-controller="Alerter" id="Alerter">
                                <button class="btn btn-success" ng-click="UpdateTicket();Alert('Ticket Updated');">Update Ticket</button>


                            </div>
                            </div>

                            


                        <div class="form-group">
                            <h4>Last Messages <small> {{ formData.messages.length }}</small>  <button class="btn btn-primary" onclick="$('#Message').show(); $('html, body').animate({ scrollTop: $('#Message').offset().top }, 'slow');"><span class="glyphicon glyphicon-plus"></span> Add Message</button></h4>
                            <div ng-repeat="message in formData.messages | orderBy : '-datetime'">

                                <small ng-model="message.datetime"> {{ message.datetime | date:'dd-MM-yyyy HH:mm' }}</small> <div data-ng-bind-html="message.msg"> {{ message.msg }}</div>
                            </div>
                          

                            </div>


                        <div class="form-group">


                            <div id="Message" style="display:none;">
                                <h4>Type your Message to {{ formData.username }}</h4>
                                <div id="UserMessage" text-angular ng-model="formData.msg">


                                </div>
                                <div ng-controller="Alerter" id="Alerter">
                                    <button class="btn btn-success" ng-click="UpdateTicket();Alert('Message Send');">Send Message</button>
                                    <button class="btn btn-default" onclick="$('#Message').hide();$('html, body').animate({ scrollTop: $('#formdata').offset().top }, 'slow');">Close</button>
                                </div>
                            </div>
                            </div>



</form>
                </div>
            </div>
        </div>
        <div growl-notifications></div>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.js"></script>
        <script src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.1/textAngular-sanitize.min.js'></script>
        <script src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.1/textAngular.min.js'></script>
        <script src="/angular-sanitize.min.js"></script><!--Hay que poner la / por la ruta-->
        <script src="/growl-notifications.min.js"></script><!--Hay que poner la / por la ruta-->
        <script src="/main.js"></script><!--Hay que poner la / por la ruta-->
      
        <script type="text/javascript">


            $(document).ready(function () {
                $('.selectpicker').selectpicker({
                    style: 'btn-primary',
                });
            });






        </script>
</body>

</html>